---
title: About Us
content: ['src/content/about.md']
---
<h1>About OCA</h1>

<p>OCA - Greater Houston is a 501(c)3 non-profit, non-partisan, social justice advocacy organization dedicated to securing the rights of Asian Pacific Americans in the United States.</p>

<p>In 1973, OCA catalyzed into being with the vision of uniting Chinese Americans across the United States into one representative voice. Interest and concern had been stirring in different pockets of the country since the late 1980s. The movement started to grow as numbers of the Chinese American communities began to rally together. </p>
<p>OCA recognized a need for a group to be a voice for Chinese Americans as the National Association for the Advancement of Colored People (NAACP) and the Japanese American Citizens League (JACL) were for their respective ethnic groups. While this vision of a united representative voice was shared with all founding members, more importantly, they decided to focus on Chinese American issues and concerns in the U.S., instead of the divisive issues concerning their "homeland." </p>
<p>Today, there are over 80 OCA chapters and affiliates across the country working on behalf of Americans of Asian and Pacific Islander descent as an organization dedicated to advancing the social, political and economic well-being of Asian Pacific Americans. The many achievements of OCA over the past 37 years have been possible only through the commitment of many dedicated friends, members, officers, family, corporate partners, colleagues and leaders in the Chinese and Asian American and Pacific Islander communities. Yet, there is much left to do to accomplish our mission. We must continue the vision of "Embracing the Hopes and Aspirations of Asian Pacific Americans."</p>

<p>Consistent with the changing demographics and a National Resolution passed in January 2013, OCA embarked on a formal brand & legal name change from "Organization of Chinese Americans" to "OCA - Asian Pacific American Advocates".</p>


{{md content}}

{{#each posts}}
  {{md this}}
{{/each}}
