---
title: Home
heading: 'OCA Greater Houston'
lead: Welcome to my blog!
---
<div class="jumbotron">
  <div class="container theme-showcase" role="main">
    <div class="pull-left">
      <img src="assets/images/logo.jpg" width="400px" />
    </div>
    <div class="row">
      <div class="col-3-lg">
        <h1>Welcome to OCA Greater Houston!</h1>
        <p>OCA - Greater Houston is a 501(c)3 non-profit, non-partisan, social justice advocacy organization dedicated to securing the rights of Asian Pacific Americans in the United States. <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-linkedin"></i>
        </p>
        <p><a href="membership.html" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>Welcome to our new home page. This site is constantly being updated, please come back often to see whats new. OCA Greater Houston is a non-profit, non-partisan, social justice advocacy organization dedicated to securing the rights of Asian Pacific Americans in the United States.</p>

    <h3>2015 OCA-GH Events Brochure</h3>

    <ul>
      <li>15th Annual "They Serve With Honor" Awards Reception & Charity Casino</li>
      <li>15th TSWH Flyer</li>
      <li>2014 Sponsorship Opportunities.pdf</li>
      <li>2014 Sponsorship Pledge Form.pdf</li>
      <li>2014 Nomination and Sponsorship Letter.pdf</li>
    </ul>
    Click on link to purchase reception tickets: https://tswh2014.eventbrite.com
  </div>
</div>
